<h1><%= @event.title %></h1>
<p><%= @event.description %></p>
<p>Começa <%= @event.start_time.strftime('%d/%m/%y %H:%M') %></p>
<% @event.items.each do |item| %>
  <%= item.title %><br>
  <%= item.quantity %>
  <% unless item == @event.items.last %>
    <hr>
  <% end %>
<% end %>
