<h1><%= @event.title %></h1>
<p class="event-description"><%= @event.description %></p>
<p class="event-description">Começa <%= @event.start_time.strftime('%d/%m/%y %H:%M') %></p>
<% @event.items.each do |item| %>
  <%= item.title %><br>
  <%= item.quantity %>
  <% unless item == @event.items.last %>
    <hr>
  <% end %>
<% end %>
<%= link_to edit_event_path(@event.id), class: 'btn btn-huge btn-primary' do %>
  <%= fa_icon 'plus 4x' %> lista
<% end %>
