<%= simple_form_for :event, url: item_create_path, id: 'form', validate: true do |f| %>
  <%= f.simple_fields_for :items, Event.all.sample.items.build do |ff| %>
    <div id="input_container" name="items">
      <%= render partial: 'form' %>
    </div>
  <% end %>

  <div class="row button-holder">
    <div class="col-xs-2">
      <%= link_to 'javascript:;', class: 'btn btn-round btn-primary', id: 'addNewItem' do %>
        <%= fa_icon 'plus 4x', style: 'margin-top: 12px;' %>
      <% end %>
    </div>

    <div class="col-xs-2">
      <%= button_tag type: 'submit', class: 'btn btn-round btn-success' do %>
        <%= fa_icon 'check 4x' %>
      <% end %>
    </div>

    <div class="col-xs-2">
      <%= link_to authenticated_root_path, class: 'btn btn-round btn-danger' do %>
        <%= fa_icon 'remove 4x', style: 'margin-top: 12px;' %>
      <% end %>
    </div>
  </div>
<% end %>

<div style="display: none;">
  <div id="new_item_form">
    <%= render partial: 'form' %>
  </div>
</div>
