<!DOCTYPE html>
<html>
<head>
  <title>Girafínea</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="banner">
    <div class="container">
      <div class="row">
        <%= link_to root_path do %>
          <div class="col-xs-2 site-logo">
            <%= image_tag('girafinea', class: 'site-logo') %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  </div>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %>
      <a href="javascript:void(0)" class="close-flash-message">X</a>
    </div>
  <% end %>

	<div class="container">
		<%= yield %>
	</div>
</body>
</html>
