<!DOCTYPE html>
<html>
<head>
  <title>Girafínea</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-xs-4 col-md-2 site-logo">
          <%= link_to root_path do %>
            <%= image_tag('girafinea.png', class: 'site-logo') %>
          <% end %>
        </div>
        <div class="hidden-xs hidden-sm">
          <div class="col-md-1 col-md-offset-9">
            <% if user_signed_in? %>
              <div class="btn btn-signout">
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <%= image_tag('sign-out.png', class: 'sign-out-icon') %>
                <% end %>
              </div>
            <% else %>
              <div class="btn btn-facebook">
                <%= link_to user_facebook_omniauth_authorize_path do %>
                  <%= image_tag('facebook-icon.png') %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="hidden-md hidden-lg">
          <div class="col-xs-4 col-xs-offset-4">
            <% if user_signed_in? %>
              <div class="btn btn-signout-mobile">
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <%= image_tag('sign-out.png', class: 'vcenter sign-out-icon') %>
                <% end %>
              </div>
            <% else %>
              <div class="btn btn-facebook-mobile">
                <%= link_to user_facebook_omniauth_authorize_path do %>
                  <%= image_tag('facebook-icon.png', class: 'vcenter') %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %>
      <a href="javascript:void(0)" class="close-flash-message">X</a>
    </div>
  <% end %>

	<div class="container page-body">
		<%= yield %>
	</div>
</body>
</html>
