<!DOCTYPE html>
<html>
<head>
  <title>Girafinea</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %>
      <a href="javascript:void(0)" class="close-flash-message">X</a>
    </div>
  <% end %>

	<div class="container">
		<%= yield %>
	</div>
</body>
</html>
