<!DOCTYPE html>
<html>
<head>
  <title>Girafínea</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-xs-4 col-md-2 site-logo">
          <%= link_to unauthenticated_root_path do %>
            <%= image_tag('girafinea.png', class: 'site-logo') %>
          <% end %>
        </div>
        <div class="col-xs-offset-4 col-xs-4 col-md-offset-8 col-md-2">
          <% if user_signed_in? %>
            <%= link_to 'Sair', destroy_user_session_path, method: :delete, class: 'btn btn-block btn-huge btn-danger vcenter' %>
          <% else %>
            <%= link_to 'Entrar', unauthenticated_root_path, class: 'btn btn-block btn-huge btn-success vcenter' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  </div>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %> alert-mobile hidden-md hidden-lg"><%= value %>
      <a href="javascript:void(0)" class="close-flash-message">X</a>
    </div>
    <div class="alert alert-<%= key %> hidden-xs hidden-sm"><%= value %>
      <a href="javascript:void(0)" class="close-flash-message">X</a>
    </div>
  <% end %>

	<div class="container page-body">
		<%= yield %>
	</div>
  <%= link_to authenticated_root_path, class: 'home-link' do %>
    <div class="round-button">
      <div class="btn-home">
        <%= fa_icon 'home 4x' %>
      </div>
    </div>
  <% end %>
</body>
</html>
