<!DOCTYPE html>
<html>
<head>
  <title>Girafínea</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-xs-4 col-md-2 site-logo">
          <%= link_to unauthenticated_root_path do %>
            <%= image_tag('girafinea.png', class: 'site-logo') %>
          <% end %>
        </div>
        <div class="col-xs-offset-4 col-xs-4 col-md-offset-9 col-md-1">
          <% if user_signed_in? %>
            <%= link_to 'Sair', unauthenticated_root_path, class: 'btn btn-block btn-danger vcenter' %>
          <% else %>
            <%= link_to 'Entrar', unauthenticated_root_path, class: 'btn btn-block btn-lg btn-success vcenter' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  </div>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %>
      <a href="javascript:void(0)" class="close-flash-message">X</a>
    </div>
  <% end %>

	<div class="container page-body">
		<%= yield %>
	</div>
</body>
</html>
